/* Game External Assets */
@import url("https://fonts.googleapis.com/css2?family=Besley&family=Dosis:wght@200&family=Silkscreen&display=swap");
/* Main Menu UI */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Silkscreen", sans-serif;
}
#start-container {
  background-color: aquamarine;
}
#startscreen {
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTdneGthOTRjb2g5OTFvazFtaHk1bnYyaG9wdWQ3dms5OTI5eHI1diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KH5Qoqmvt6lindzF1R/giphy.gif");
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3px;
  height: 100dvh;
}
#startscreen > div {
  font-size: 2vw;
  padding: 0.35em;
  color: #ffffff;
  background: rgb(8, 36, 20);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
/* Game Logo */
svg {
  display: block;
  width: 25%;
  margin: auto;
  height: auto;
  filter: brightness(4) drop-shadow(0 0 0.75rem green);
}

/* Main Menu Buttons */

/* Play Buttons */
#game-buttons button {
  font-size: 1.2vw;
}
stretch,
#game-buttons #play:after,
#game-buttons #play:before {
  left: 0;
  position: absolute;
  right: 0;
}
#game-buttons #play {
  background: #439976;
  background-size: 100%;
  background-image: linear-gradient(to right, #1cde90, #082414);
  border-radius: 1.5em;
  transition: opacity 300ms;
  border: none;
  color: #f7f2eb;
  font-weight: bold;
  height: 3em;
  letter-spacing: 0.05em;
  outline: none;
  overflow: hidden;
  width: 10em;
  text-align: center;
}
#game-buttons #play:before {
  content: "";
  opacity: 0;
}
#game-buttons #play:after {
  -moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  -webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  background: #d4cfc9;
  content: "";
  height: 2px;
  opacity: 0;
}
#game-buttons #play:hover {
  animation: glitch 750ms infinite;
  cursor: pointer;
}
#game-buttons #play:hover:before {
  opacity: 1;
}
#game-buttons #play:hover:after {
  animation: scan 2s infinite;
  opacity: 1;
}
@keyframes glitch {
  0% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  5% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
    opacity: 0.75;
  }
  10% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 0.75;
  }
  20% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  45% {
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    opacity: 0.75;
  }
  50% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 0.75;
  }
  60% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  75% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  80% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  85% {
    -moz-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    opacity: 0.75;
  }
  90% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}
@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 97%;
  }
  100% {
    top: 0%;
  }
}
/* Credits Button */
stretch,
#game-buttons #credits:after,
#game-buttons #credis:before {
  left: 0;
  position: absolute;
  right: 0;
}
#game-buttons #credits {
  background: #439976;
  background-size: 100%;
  background-image: linear-gradient(to right, #1cde90, #082414);
  border-radius: 1.5em;
  transition: opacity 300ms;
  border: none;
  color: #f7f2eb;
  font-weight: bold;
  height: 3em;
  letter-spacing: 0.05em;
  outline: none;
  overflow: hidden;
  width: 5em;
  text-align: center;
}
.material-icons {
  size: 18px;
}
#game-buttons #credits:before {
  content: "";
  opacity: 0;
}
#game-buttons #credits:after {
  -moz-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  -webkit-box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  box-shadow: rgba(212, 207, 201, 0.75) 0 0 15px 2px;
  background: #d4cfc9;
  content: "";
  height: 2px;
  opacity: 0;
}
#game-buttons #credits:hover {
  animation: glitch 750ms infinite;
  cursor: pointer;
}
#game-buttons #play:hover:before {
  opacity: 1;
}
#game-buttons #credits:hover:after {
  animation: scan 2s infinite;
  opacity: 1;
}

#startscreen #ptwop {
  padding: 0.4em;
  letter-spacing: 0.15em;
}

#gamescreen {
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTdneGthOTRjb2g5OTFvazFtaHk1bnYyaG9wdWQ3dms5OTI5eHI1diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KH5Qoqmvt6lindzF1R/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
}

/* New Maze Game Layout */
#game {
  height: 100%;
  color: white;
  background-color: rgb(25, 50, 28);
  opacity: 80%;
}
#screen-upper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
#stagelvl {
  font-size: 3vw;
  align-self: center;
}
#toggle {
  align-self: center;
}
#toggle button {
  color: white;
  font-size: 1vw;
  border: none;
  border-radius: 10px;
  height: 3em;
  width: 8em;
  background: linear-gradient(to right, #1cde90, #082414);
  cursor: pointer;
}
#toggle button:hover {
  opacity: 0.6;
  color: black;
}
#screen-below {
  display: flex;
  gap: 1%;
  justify-content: center;
  height: 89vh;
  padding: 10px;
}
#maze {
  border-top: 20px solid rgb(18, 186, 108);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 5px solid rgb(18, 186, 108);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 5px solid rgb(18, 186, 108);
  border-right: 7px solid rgb(18, 186, 108);
  padding: 10px;
  flex: 0 0 50%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 7vh);
}
.cell {
  width: 5vh;
  height: 5vh;
  border: 1px solid rgba(149, 169, 133, 0.153);
  box-sizing: border-box;
}
.wall {
  background-color: rgba(149, 169, 133, 0.153);
}
.player {
  background-image: url(img-res/player.png);
  background-size: 12vh;
  background-position: center;
  transition: transform 0.2s ease-in;
  border: none;
}
.goal {
  background-image: url(img-res/goalie.png);
  background-size: 6vh;
  background-position: center;
}
#infoscreen {
  border-top: 20px solid rgb(18, 186, 108);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 5px solid rgb(18, 186, 108);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 5px solid rgb(18, 186, 108);
  border-right: 7px solid rgb(18, 186, 108);
  padding: 10px;
  flex: 0 0 20%;
  /* Scroll effect */
  overflow: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
}
#infoscreen h1 {
  font-size: 2vw;
}
.clog {
  font-size: 2vh;
  /* Hide Scrollbar */
  overflow: auto;
  overflow-x: hidden;
  letter-spacing: 0.2em;
  padding: 2%;
  margin: 2%;
  background-color: transparent;
  color: whitesmoke;
}
.tlog {
  font-size: 2vh;
  /* Hide Scrollbar */
  overflow: auto;
  overflow-x: hidden;
  letter-spacing: 0.2em;
  padding: 2%;
  margin: 2%;
  background-color: transparent;
  color: whitesmoke;
  text-align: left;
}
/* Media Query */
@media only screen and (max-width: 715px) {
  /* For mobile phones: */
  #maze {
    grid-template-columns: repeat(12, 5vh);
  }
  #infoscreen {
    line-height: 1.5em;
  }
  .tlog {
    margin: 0;
    padding: 0;
  }
  .clog {
    margin: 0;
    padding: 0;
  }
}
